.canvas {
  height: 500px;
  width: 500px;
  background: radial-gradient(#5537ea, #000000);
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
}

.canvas-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  height: 100%;
}

body {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#0038c3, #000000);
}

h1 {
  font-size: 50px;
}
h1, h2 {
  -webkit-mask-image: url(https://themes.googleusercontent.com/static/patterns/crackle.png);
  color: #08f20d;
}

p {
  color: #08f20d;
}

content {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}
/* color: white; */
/* background-color: black; */

h2 {
  padding: 20px;
}

.algo-title {
  margin-top: 0;
}

.buttons > div {
  width: 300px;
  margin-left: 200px;
}

.button-list {
  display: flex;
  flex-direction: column;
}

button {
  background-color: black;
  font-size: 15px;
  width: 100px;
  margin: 10px;
  height: 40px;
  border-radius: 7px;
  color: #08f20d;
}

button:hover {
  cursor: pointer;
}

.button-list > div {
  display: flex;
  flex-direction: row;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: '#fffbfb';
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.maze_demonstration {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
}

.description-container {
  background: radial-gradient(#000000, #17161c);
  height: 470px;
  width: 360px;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 12px;
}

.buttons {
  width: 444px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.link {
  margin: 0px 20px;
}

a {
  color: #08f20d;
}
