.canvas {
  height: 500px;
  width: 500px;
  background-color: black;
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
}

.canvas-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

content {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}

section {
  margin: 30px;
}
/* color: white; */
/* background-color: black; */

h2 {
  padding: 20px;
}



.buttons > div {
  width: 300px;
  margin-left: 200px;
}

.button-list {
  display: flex;
  flex-direction: column;
}

button {
  background-color: '#fffbfb';
  font-size: 13px;
  width: 90px;
  margin: 10px;
  height: 35px;
}

.button-list > div {
  display: flex;
  flex-direction: row;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: '#fffbfb';
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 50%;
  color: '#fffbfb';
}

.maze_demonstration {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
}

.description-container {
  border: 2px solid blue;
  width: 380px;
  height: 470px;
  padding: 20px;
  margin: 10px;
}

.buttons {
  width: 444px;
}
